<style>
/* CSS Document */
#menu { position: relative; width: 100%; height: 40px; background: #6699cc; border: 1px solid #000000;
}
#menu ul{ margin: 0; padding: 0; list-style: none;
}
#menu ul li{ position: relative; float: left;
}
#menu ul li a{ display: block; text-decoration: none; color: #FF6600; padding: 15px; float: left; border-right: 1px solid #000000;
}
#menu ul li a:hover{ background-color: #FF6600; }
#menu ul li ul { display: none;}
#menu ul li:hover ul { display: block; position: absolute; top: 44px; left: 0px; 
}
#menu ul li:hover ul li a{ display: block; background: #333333; color: #ffffff; width: 153px; border-left: 1px solid #000000;
}
#menu ul li:hover ul li a:hover { background: #FF6600; color: #ffffff;
 }
</style>